.header-bg {
  background: var(--color-other-01);
}

.header {
  display: flex;
  width: 100%;
  padding-top: 9px;
  padding-bottom: 9px;
  justify-content: space-around;
  align-items: center;
}

.header nav ul {
  display: flex;
  gap: 70px;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 1rem;
}

.header nav ul li {
  transition: all .3s;
}

.header nav ul li:hover {
  background: linear-gradient(
    to right,
    var(--color-gradient-01) 20%,
    var(--color-gradient-02) 30%,
    var(--color-gradient-01) 70%,
    var(--color-gradient-02) 80%
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-fill-color: transparent;
  background-size: 500% auto;
  animation: textShine 3s ease-in-out infinite alternate;
  transition: .3s;
}

.header-logo {
  font-family: "Poppins", sans-serif;
  font-weight: bolder;
  font-size: 2.5rem;
}
